

# Importing Modules

In [1]:
import pyspark
import findspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import col , udf
from pyspark.sql.types import StringType, IntegerType
from pyspark.sql.functions import trim
import pyspark.sql.functions as f


import pandas as pd 
import numpy as np 
import re

findspark.init('D:\\Spark\\')

# Creating SparkSession

In [2]:
spark=SparkSession.builder\
    .master('local') \
    .appName('Udacity') \
    .getOrCreate()

In [3]:
spark

# Loading and Inspsecting Dataframe

In [4]:
df = spark.read.options(delimiter=';').csv('data/us-cities-demographics.csv',header=True)

In [5]:
df.printSchema()

root
 |-- City: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Median Age: string (nullable = true)
 |-- Male Population: string (nullable = true)
 |-- Female Population: string (nullable = true)
 |-- Total Population: string (nullable = true)
 |-- Number of Veterans: string (nullable = true)
 |-- Foreign-born: string (nullable = true)
 |-- Average Household Size: string (nullable = true)
 |-- State Code: string (nullable = true)
 |-- Race: string (nullable = true)
 |-- Count: string (nullable = true)

In [6]:
df.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race| Count|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|  Hispanic or Latino| 25924|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|               White| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|               Asian|  4759|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|Black or African-...| 24437|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|               White| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|American Indian a...|  1343|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|Black or African-...| 11592|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|               Asian| 32716|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|  Hispanic or Latino|  2583|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|               Asian| 11060|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|  Hispanic or Latino|  5822|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|American Indian a...|   998|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|               Asian|122721|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|  Hispanic or Latino| 65162|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|American Indian a...|  8791|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|               White| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|               White|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|American Indian a...|  1253|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|               Asian| 27089|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|               White| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+------+
only showing top 20 rows

In [7]:
# Duplicates per Race
df.where(col('City')=='New York').show()

+--------+--------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-------+
|    City|   State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|                Race|  Count|
+--------+--------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-------+
|New York|New York|      36.0|        4081698|          4468707|         8550405|            156961|     3212500|                  2.68|        NY|               White|3835726|
|New York|New York|      36.0|        4081698|          4468707|         8550405|            156961|     3212500|                  2.68|        NY|               Asian|1304564|
|New York|New York|      36.0|        4081698|          4468707|         8550405|            156961|     3212500|                  2.68|        NY|American Indian a...|  90923|
|New York|New York|      36.0|        4081698|          4468707|         8550405|            156961|     3212500|                  2.68|        NY|  Hispanic or Latino|2485125|
|New York|New York|      36.0|        4081698|          4468707|         8550405|            156961|     3212500|                  2.68|        NY|Black or African-...|2192248|
+--------+--------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+--------------------+-------+

# Cleaning Data 

+ ~~Pivot of Race; thus remove duplicates~~ 
+ ~~Repalce nulls with zero~~ 
+ ~~Join both frame~~
+ ~~Drop Columns~~

In [8]:
# Groupby and Pivot
df_grp=df.groupBy('City','State').pivot('Race').agg(f.sum('Count').cast(IntegerType()))
# Create Key Column
df_grp=df_grp.withColumn('StateCity',f.concat(col('State'),f.lit('_'),col('City')))
# Drop State and City 
col_to_drop=['City','State']
df_grp=df_grp.drop(*col_to_drop)
# Fill Nulls with zero
df_grp=df_grp.fillna(0)

In [9]:
# Create Join key origin df
df=df.withColumn('StateCity',f.concat(col('State'),f.lit('_'),col('City')))
# Join per key 
df=df.join(df_grp,df.StateCity==df_grp.StateCity,how='left').drop(df_grp.StateCity)

In [10]:
# Dropping Columns
col_to_drop=['StateCity','Race','Count']
df=df.drop(*col_to_drop)

In [11]:
df.show()

+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+---------------------------------+------+-------------------------+------------------+------+
|            City|         State|Median Age|Male Population|Female Population|Total Population|Number of Veterans|Foreign-born|Average Household Size|State Code|American Indian and Alaska Native| Asian|Black or African-American|Hispanic or Latino| White|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+---------------------------------+------+-------------------------+------------------+------+
|   Silver Spring|      Maryland|      33.8|          40601|            41862|           82463|              1562|       30908|                   2.6|        MD|                             1084|  8841|                    21330|             25924| 37756|
|          Quincy| Massachusetts|      41.0|          44129|            49500|           93629|              4147|       32935|                  2.39|        MA|                              351| 30473|                     3917|              2566| 58723|
|          Hoover|       Alabama|      38.5|          38040|            46799|           84839|              4819|        8229|                  2.58|        AL|                                0|  4759|                    18191|              3430| 61869|
|Rancho Cucamonga|    California|      34.5|          88127|            87105|          175232|              5821|       33878|                  3.18|        CA|                             2789| 24519|                    24437|             65823|111832|
|          Newark|    New Jersey|      34.6|         138040|           143873|          281913|              5829|       86253|                  2.73|        NJ|                             2268|  7349|                   144961|            100432| 76402|
|          Peoria|      Illinois|      33.1|          56229|            62432|          118661|              6634|        7517|                   2.4|        IL|                             1343|  6989|                    36333|              6874| 77074|
|        Avondale|       Arizona|      29.1|          38712|            41971|           80683|              4815|        8355|                  3.18|        AZ|                              613|  2828|                    11592|             34716| 62176|
|     West Covina|    California|      39.8|          51629|            56860|          108489|              3800|       37038|                  3.56|        CA|                              518| 32716|                     3693|             58907| 48046|
|        O'Fallon|      Missouri|      36.0|          41762|            43270|           85032|              5783|        3269|                  2.77|        MO|                              685|  3447|                     5136|              2583| 77049|
|      High Point|North Carolina|      35.5|          51751|            58077|          109828|              5204|       16315|                  2.65|        NC|                             1181| 11060|                    39369|             11446| 58004|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|                              998| 15569|                     3985|              5822| 57435|
|          Folsom|    California|      40.9|          41051|            35317|           76368|              4187|       13234|                  2.62|        CA|                              998| 15569|                     3985|              5822| 57435|
|    Philadelphia|  Pennsylvania|      34.1|         741270|           826172|         1567442|             61995|      205339|                  2.61|        PA|                            17500|122721|                   691186|            219038|688130|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|                             8791| 25210|                    52592|             65162|305910|
|         Wichita|        Kansas|      34.6|         192354|           197601|          389955|             23978|       40270|                  2.56|        KS|                             8791| 25210|                    52592|             65162|305910|
|      Fort Myers|       Florida|      37.3|          36850|            37165|           74015|              4312|       15365|                  2.45|        FL|                                0|  3519|                    17298|             17866| 50169|
|      Pittsburgh|  Pennsylvania|      32.9|         149690|           154695|          304385|             17728|       28187|                  2.13|        PA|                             2689| 21227|                    82248|              9266|208863|
|          Laredo|         Texas|      28.8|         124305|           131484|          255789|              4921|       68427|                  3.66|        TX|                             1253|  1963|                      832|            243190|246442|
|        Berkeley|    California|      32.5|          60142|            60829|          120971|              3736|       25000|                  2.35|        CA|                             1868| 27089|                    11255|             15429| 82949|
|     Santa Clara|    California|      35.2|          63278|            62938|          126216|              4426|       52281|                  2.75|        CA|                             1354| 58360|                     4580|             22402| 55847|
+----------------+--------------+----------+---------------+-----------------+----------------+------------------+------------+----------------------+----------+---------------------------------+------+-------------------------+------------------+------+
only showing top 20 rows

In [15]:
# Write to csv 
df.write.csv('processed/demographics.csv',mode='overwrite',header=True)