# Importing Modules

In [1]:
import pyspark
import findspark
from pyspark.sql import SparkSession
from pyspark.sql import SQLContext
from pyspark.sql.functions import col , udf
from pyspark.sql.types import StringType
from pyspark.sql.functions import trim
from pyspark.sql.functions import initcap
from pyspark.sql.functions import split


import pandas as pd 
import numpy as np 
import re

findspark.init('D:\\Spark\\')

# Creating SparkSession

In [2]:
spark=SparkSession.builder\
    .master('local') \
    .appName('Udacity') \
    .getOrCreate()

In [3]:
spark

# Loading and Inspsecting Dataframe

In [4]:
df = spark.read.parquet('data/*.parquet')

In [5]:
df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)

In [6]:
df.show()

+--------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|   cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|
+--------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
|459651.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     FL|20559.0|  54.0|    2.0|  1.0|20160403|    null| null|      O|      R|   null|      M| 1962.0|07012016|  null|  null|     VS|5.5556253633E10|00115|      WT|
|459652.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     FL|20555.0|  74.0|    2.0|  1.0|20160403|    null| null|      T|      O|   null|      M| 1942.0|07012016|     F|  null|     VS|   6.74406485E8|  103|      WT|
|459653.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     FL|20557.0|  44.0|    2.0|  1.0|20160403|    null| null|      T|      Q|   null|      M| 1972.0|10022016|     M|  null|     VS|   6.74948185E8|  109|      B2|
|459654.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|      G|20555.0|  38.0|    2.0|  1.0|20160403|    null| null|      O|      O|   null|      M| 1978.0|07012016|  null|  null|     VS|5.5541762033E10|00103|      WT|
|459655.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|   null|  64.0|    2.0|  1.0|20160403|    null| null|      G|   null|   null|   null| 1952.0|07012016|     F|  null|     VS|5.5541328433E10|00103|      WT|
|459656.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|   null|  63.0|    2.0|  1.0|20160403|    null| null|      G|   null|   null|   null| 1953.0|07012016|     M|  null|     BA|5.5578035433E10|00227|      WT|
|459657.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20548.0|  44.0|    1.0|  1.0|20160403|    null| null|      G|      I|   null|      M| 1972.0|07012016|     M|  null|     BA|5.5578919033E10|00227|      WB|
|459658.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20548.0|  39.0|    1.0|  1.0|20160403|    null| null|      G|      I|   null|      M| 1977.0|07012016|     M|  null|     BA|5.5578743033E10|00227|      WB|
|459659.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20573.0|  84.0|    2.0|  1.0|20160403|    null| null|      G|      I|   null|      M| 1932.0|07012016|     M|  null|     BA|5.5577459833E10|00227|      WT|
|459660.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20555.0|  55.0|    2.0|  1.0|20160403|    null| null|      G|      N|   null|      M| 1961.0|07012016|     M|  null|     BA|5.5577874033E10|00227|      WT|
|459661.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20555.0|  54.0|    2.0|  1.0|20160403|    null| null|      G|      N|   null|      M| 1962.0|07012016|     M|  null|     BA|5.5577725633E10|00227|      WT|
|459662.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20548.0|  36.0|    2.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1980.0|07012016|     M|  null|     DL|5.5577644033E10|00349|      WT|
|459663.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20549.0|  71.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1945.0|07012016|     M|  null|     DL|5.5574698833E10|00031|      WB|
|459664.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20549.0|  39.0|    2.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1977.0|07012016|     M|  null|     VS|5.5560145833E10|00109|      WT|
|459665.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20550.0|  54.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1962.0|07012016|     M|  null|     BA|5.5577579933E10|00227|      WB|
|459666.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20550.0|  51.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1965.0|07012016|     M|  null|     BA|5.5578365433E10|00227|      WB|
|459667.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20550.0|  43.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1973.0|07012016|     M|  null|     DL|5.5574951833E10|00031|      WB|
|459668.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20550.0|  37.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1979.0|07012016|     F|  null|     DL|5.5564568733E10|00029|      WB|
|459669.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20550.0|  33.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1983.0|07012016|     F|  null|     VS|5.5557739533E10|00109|      WB|
|459670.0|2016.0|   4.0| 135.0| 135.0|    ATL|20547.0|    1.0|     GA|20550.0|  50.0|    1.0|  1.0|20160403|    null| null|      G|      O|   null|      M| 1966.0|07012016|     M|  null|     DL|5.5574648333E10|00031|      WB|
+--------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+
only showing top 20 rows

## Cleaning I94 Dataset

+ ~~Dropping Columns~~ 
+ ~~Invalid States~~ 
+ ~~Invalid Ports~~ 
+ ~~Dropping Duplicates~~

In [7]:
# Read Port Data 
df_port=spark.createDataFrame(pd.read_json('data\i94prtl.json', orient='index').reset_index().rename(columns={'index':'i94port',0:'Port'}))

In [8]:
# Read Origin Data 
df_country=spark.createDataFrame(pd.read_json('data\i94cntyl.json', orient='index').reset_index().rename(columns={'index':'i94cit',0:'Country of Origin'}))

In [9]:
# Read TravleMode Data
df_mode=spark.createDataFrame(pd.read_json('data\i94model.json', orient='index').reset_index().rename(columns={'index':'i94mode',0:'Travelmode'}))

In [10]:
# Read Destination data 
df_dest=spark.createDataFrame(pd.read_json('data\i94addrl.json', orient='index').reset_index().rename(columns={'index':'i94addr',0:'Destination'}))

In [11]:
# Read Visa data 
df_visa=spark.createDataFrame(pd.read_json('data\i94visa.json', orient='index').reset_index().rename(columns={'index':'i94visa',0:'Visa'}))

## Join Tables on DF

In [12]:
# Join Port 
df=df.join(df_port, df.i94port==df_port.i94port, how='left').drop(df_port.i94port)
# Join Country 
df=df.join(df_country, df.i94cit==df_country.i94cit, how='left').drop(df_country.i94cit)
# Join Travelmode
df=df.join(df_mode,df.i94mode==df_mode.i94mode, how='left').drop(df_mode.i94mode)
# Join Destination 
df=df.join(df_dest,df.i94addr==df_dest.i94addr, how='left').drop(df_dest.i94addr)
# Join Visa Data 
df=df.join(df_visa,df.i94visa==df_visa.i94visa, how='left').drop(df_visa.i94visa)

In [13]:
df.show(20)

+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+--------------------+--------------------+----------+-----------+---------+
|    cicid| i94yr|i94mon|i94cit|i94res|i94port|arrdate|i94mode|i94addr|depdate|i94bir|i94visa|count|dtadfile|visapost|occup|entdepa|entdepd|entdepu|matflag|biryear| dtaddto|gender|insnum|airline|         admnum|fltno|visatype|                Port|   Country of Origin|Travelmode|Destination|     Visa|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+--------------------+--------------------+----------+-----------+---------+
|2093085.0|2016.0|   4.0| 582.0| 582.0|    HOU|20555.0|    1.0|     .N|20559.0|  46.0|    1.0|  1.0|20160411|    null| null|      K|      O|   null|      M| 1970.0|10112016|     M|  null|     UA| 9.329960203E10|01056|      B1|HOUSTON, TX      ...|  MEXICO Air Sea,...|       Air|       null| Business|
|1373083.0|2016.0|   4.0| 135.0| 135.0|    ATL|20552.0|    1.0|     RG|20553.0|  22.0|    1.0|  1.0|20160408|    null| null|      O|      R|   null|      M| 1994.0|10072016|  null|  null|     VS| 9.304159433E10|0115C|      B1|ATLANTA, GA      ...|      UNITED KINGDOM|       Air|       null| Business|
|2696520.0|2016.0|   4.0| 135.0| 135.0|    ATL|20559.0|    1.0|     RG|20560.0|  50.0|    1.0|  1.0|20160415|    null| null|      O|      R|   null|      M| 1966.0|10142016|  null|  null|     VS| 9.360236983E10|0103C|      B1|ATLANTA, GA      ...|      UNITED KINGDOM|       Air|       null| Business|
|1594614.0|2016.0|   4.0| 135.0| 135.0|    NYC|20553.0|    1.0|     RG|20554.0|  21.0|    1.0|  1.0|20160409|    null| null|      O|      R|   null|      M| 1995.0|10082016|  null|  null|     VS| 9.315375303E10|0025C|      B1|NEW YORK, NY     ...|      UNITED KINGDOM|       Air|       null| Business|
|3337659.0|2016.0|   4.0| 135.0| 135.0|    MIA|20562.0|    1.0|     CI|20581.0|  30.0|    1.0|  1.0|20160418|    null| null|      O|      R|   null|      M| 1986.0|10172016|  null|  null|     AA| 9.388344453E10|00057|      B1|MIAMI, FL        ...|      UNITED KINGDOM|       Air|       null| Business|
|2645687.0|2016.0|   4.0| 582.0| 582.0|    HOU|20558.0|    1.0|     CI|20559.0|  53.0|    1.0|  1.0|20160414|    null| null|      K|      O|   null|      M| 1963.0|10142016|     M|  null|     AM| 9.354129223E10|00418|      B1|HOUSTON, TX      ...|  MEXICO Air Sea,...|       Air|       null| Business|
|2925771.0|2016.0|   4.0| 209.0| 209.0|    DEN|20560.0|    1.0|     CI|20566.0|  43.0|    1.0|  1.0|20160416|    null| null|      O|      O|   null|      M| 1973.0|07142016|  null|  null|     NH|5.6236412033E10|00012|      WB|DENVER, CO       ...|               JAPAN|       Air|       null| Business|
|3690624.0|2016.0|   4.0| 209.0| 209.0|    DAL|20564.0|    1.0|     CI|20567.0|  60.0|    1.0|  1.0|20160420|    null| null|      O|      O|   null|      M| 1956.0|07182016|  null|  null|     YV|5.6486475033E10|05780|      WB|DALLAS, TX       ...|               JAPAN|       Air|       null| Business|
| 855510.0|2016.0|   4.0| 148.0| 112.0|    DAL|20549.0|    1.0|     CI|20559.0|  29.0|    1.0|  1.0|20160405|    null| null|      O|      O|   null|      M| 1987.0|07032016|  null|  null|     MQ|5.5646572833E10|03687|      WB|DALLAS, TX       ...|                null|       Air|       null| Business|
| 881270.0|2016.0|   4.0| 299.0| 299.0|    SFR|20549.0|    1.0|     AZ|20553.0|  34.0|    1.0|  1.0|20160405|     ULN| null|      G|      O|   null|      M| 1982.0|10042016|     M|  null|     KE| 9.282028353E10|00023|      B1|SAN FRANCISCO, CA...|            MONGOLIA|       Air|    ARIZONA| Business|
|1048471.0|2016.0|   4.0| 299.0| 299.0|    SFR|20550.0|    1.0|     AZ|20557.0|  51.0|    1.0|  1.0|20160406|     ULN| null|      G|      O|   null|      M| 1965.0|10052016|     F|  null|     UA| 9.287077623E10|00889|      B1|SAN FRANCISCO, CA...|            MONGOLIA|       Air|    ARIZONA| Business|
|1048473.0|2016.0|   4.0| 299.0| 299.0|    SFR|20550.0|    1.0|     AZ|20557.0|  45.0|    1.0|  1.0|20160406|     ULN| null|      G|      O|   null|      M| 1971.0|10052016|     M|  null|     UA| 9.287161223E10|00889|      B1|SAN FRANCISCO, CA...|            MONGOLIA|       Air|    ARIZONA| Business|
|1048476.0|2016.0|   4.0| 299.0| 299.0|    SFR|20550.0|    1.0|     AZ|20557.0|  28.0|    1.0|  1.0|20160406|     ULN| null|      G|      O|   null|      M| 1988.0|10052016|     F|  null|     UA| 9.287088263E10|00889|      B1|SAN FRANCISCO, CA...|            MONGOLIA|       Air|    ARIZONA| Business|
|2143748.0|2016.0|   4.0| 690.0| 690.0|    NYC|20555.0|    1.0|     AZ|20559.0|  62.0|    1.0|  1.0|20160411|     SNT| null|      G|      O|   null|      M| 1954.0|10102016|     M|  null|     BA| 9.330203683E10|00289|      B1|NEW YORK, NY     ...|               CHILE|       Air|    ARIZONA| Business|
|1969028.0|2016.0|   4.0| 692.0| 692.0|    DAL|20554.0|    1.0|     AZ|20562.0|  71.0|    1.0|  1.0|20160410|     QTO| null|      G|      O|   null|      M| 1945.0|10092016|     M|  null|     AA| 9.317114693E10|01177|      B1|DALLAS, TX       ...|             ECUADOR|       Air|    ARIZONA| Business|
|1643965.0|2016.0|   4.0| 332.0| 332.0|    ATL|20553.0|    1.0|     AZ|20557.0|  55.0|    1.0|  1.0|20160409|     CSB| null|      G|      O|   null|      M| 1961.0|10082016|     M|  null|     AF| 9.313283843E10|00688|      B1|ATLANTA, GA      ...|             MOROCCO|       Air|    ARIZONA| Business|
|1644022.0|2016.0|   4.0| 332.0| 332.0|    PHI|20553.0|    1.0|     AZ|20558.0|  36.0|    1.0|  1.0|20160409|     CSB| null|      G|      O|   null|      M| 1980.0|10082016|     M|  null|     QR| 9.309780073E10|00727|      B1|PHILADELPHIA, PA ...|             MOROCCO|       Air|    ARIZONA| Business|
|1226834.0|2016.0|   4.0| 332.0| 332.0|    NYC|20551.0|    1.0|     AZ|20560.0|  47.0|    1.0|  1.0|20160407|     CSB| null|      G|      O|   null|      M| 1969.0|10062016|     M|  null|     AT| 9.299139303E10|00200|      B1|NEW YORK, NY     ...|             MOROCCO|       Air|    ARIZONA| Business|
|1175087.0|2016.0|   4.0| 130.0| 130.0|    SPM|20551.0|    1.0|     AZ|20564.0|  61.0|    1.0|  1.0|20160407|    null| null|      O|      O|   null|      M| 1955.0|07052016|  null|  null|     DL|5.5752453233E10|00161|      WB|ST PAUL, MN      ...|              SWEDEN|       Air|    ARIZONA| Business|
|2323933.0|2016.0|   4.0| 130.0| 130.0|    SPM|20557.0|    1.0|     AZ|20560.0|  52.0|    1.0|  1.0|20160413|    null| null|      O|      O|   null|      M| 1964.0|07112016|  null|  null|     DL|5.6078585933E10|00170|      WB|ST PAUL, MN      ...|              SWEDEN|       Air|    ARIZONA| Business|
+---------+------+------+------+------+-------+-------+-------+-------+-------+------+-------+-----+--------+--------+-----+-------+-------+-------+-------+-------+--------+------+------+-------+---------------+-----+--------+--------------------+--------------------+----------+-----------+---------+
only showing top 20 rows

In [14]:
df.printSchema()

root
 |-- cicid: double (nullable = true)
 |-- i94yr: double (nullable = true)
 |-- i94mon: double (nullable = true)
 |-- i94cit: double (nullable = true)
 |-- i94res: double (nullable = true)
 |-- i94port: string (nullable = true)
 |-- arrdate: double (nullable = true)
 |-- i94mode: double (nullable = true)
 |-- i94addr: string (nullable = true)
 |-- depdate: double (nullable = true)
 |-- i94bir: double (nullable = true)
 |-- i94visa: double (nullable = true)
 |-- count: double (nullable = true)
 |-- dtadfile: string (nullable = true)
 |-- visapost: string (nullable = true)
 |-- occup: string (nullable = true)
 |-- entdepa: string (nullable = true)
 |-- entdepd: string (nullable = true)
 |-- entdepu: string (nullable = true)
 |-- matflag: string (nullable = true)
 |-- biryear: double (nullable = true)
 |-- dtaddto: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- insnum: string (nullable = true)
 |-- airline: string (nullable = true)
 |-- admnum: double (nullable = true)
 |-- fltno: string (nullable = true)
 |-- visatype: string (nullable = true)
 |-- Port: string (nullable = true)
 |-- Country of Origin: string (nullable = true)
 |-- Travelmode: string (nullable = true)
 |-- Destination: string (nullable = true)
 |-- Visa: string (nullable = true)

In [15]:
col_to_drop=['visapost','occup','entdepu','count','admnum','matflag','dtaddto','insnum','fltno','i94mode','i94addr','i94visa','i94cit']
df=df.drop(*col_to_drop)

In [16]:
# Strip Whitespaces
df_clean=df.withColumn('Port',trim(col('Port')))

## Cleaning Table

In [17]:
# Port
df_clean.show()

+---------+------+------+------+-------+-------+-------+------+--------+-------+-------+-------+------+-------+--------+-----------------+--------------------+----------+-----------+---------+
|    cicid| i94yr|i94mon|i94res|i94port|arrdate|depdate|i94bir|dtadfile|entdepa|entdepd|biryear|gender|airline|visatype|             Port|   Country of Origin|Travelmode|Destination|     Visa|
+---------+------+------+------+-------+-------+-------+------+--------+-------+-------+-------+------+-------+--------+-----------------+--------------------+----------+-----------+---------+
|2093085.0|2016.0|   4.0| 582.0|    HOU|20555.0|20559.0|  46.0|20160411|      K|      O| 1970.0|     M|     UA|      B1|      HOUSTON, TX|  MEXICO Air Sea,...|       Air|       null| Business|
|1373083.0|2016.0|   4.0| 135.0|    ATL|20552.0|20553.0|  22.0|20160408|      O|      R| 1994.0|  null|     VS|      B1|      ATLANTA, GA|      UNITED KINGDOM|       Air|       null| Business|
|2696520.0|2016.0|   4.0| 135.0|    ATL|20559.0|20560.0|  50.0|20160415|      O|      R| 1966.0|  null|     VS|      B1|      ATLANTA, GA|      UNITED KINGDOM|       Air|       null| Business|
|1594614.0|2016.0|   4.0| 135.0|    NYC|20553.0|20554.0|  21.0|20160409|      O|      R| 1995.0|  null|     VS|      B1|     NEW YORK, NY|      UNITED KINGDOM|       Air|       null| Business|
|3337659.0|2016.0|   4.0| 135.0|    MIA|20562.0|20581.0|  30.0|20160418|      O|      R| 1986.0|  null|     AA|      B1|        MIAMI, FL|      UNITED KINGDOM|       Air|       null| Business|
|2925771.0|2016.0|   4.0| 209.0|    DEN|20560.0|20566.0|  43.0|20160416|      O|      O| 1973.0|  null|     NH|      WB|       DENVER, CO|               JAPAN|       Air|       null| Business|
|3690624.0|2016.0|   4.0| 209.0|    DAL|20564.0|20567.0|  60.0|20160420|      O|      O| 1956.0|  null|     YV|      WB|       DALLAS, TX|               JAPAN|       Air|       null| Business|
|2645687.0|2016.0|   4.0| 582.0|    HOU|20558.0|20559.0|  53.0|20160414|      K|      O| 1963.0|     M|     AM|      B1|      HOUSTON, TX|  MEXICO Air Sea,...|       Air|       null| Business|
| 855510.0|2016.0|   4.0| 112.0|    DAL|20549.0|20559.0|  29.0|20160405|      O|      O| 1987.0|  null|     MQ|      WB|       DALLAS, TX|                null|       Air|       null| Business|
| 881270.0|2016.0|   4.0| 299.0|    SFR|20549.0|20553.0|  34.0|20160405|      G|      O| 1982.0|     M|     KE|      B1|SAN FRANCISCO, CA|            MONGOLIA|       Air|    ARIZONA| Business|
|1048471.0|2016.0|   4.0| 299.0|    SFR|20550.0|20557.0|  51.0|20160406|      G|      O| 1965.0|     F|     UA|      B1|SAN FRANCISCO, CA|            MONGOLIA|       Air|    ARIZONA| Business|
|1048473.0|2016.0|   4.0| 299.0|    SFR|20550.0|20557.0|  45.0|20160406|      G|      O| 1971.0|     M|     UA|      B1|SAN FRANCISCO, CA|            MONGOLIA|       Air|    ARIZONA| Business|
|1048476.0|2016.0|   4.0| 299.0|    SFR|20550.0|20557.0|  28.0|20160406|      G|      O| 1988.0|     F|     UA|      B1|SAN FRANCISCO, CA|            MONGOLIA|       Air|    ARIZONA| Business|
|1813533.0|2016.0|   4.0| 135.0|    SFR|20554.0|20565.0|  43.0|20160410|      G|      O| 1973.0|     M|     BA|      WB|SAN FRANCISCO, CA|      UNITED KINGDOM|       Air|    ARIZONA| Business|
|1969028.0|2016.0|   4.0| 692.0|    DAL|20554.0|20562.0|  71.0|20160410|      G|      O| 1945.0|     M|     AA|      B1|       DALLAS, TX|             ECUADOR|       Air|    ARIZONA| Business|
|2706286.0|2016.0|   4.0| 135.0|    SFR|20559.0|20565.0|  53.0|20160415|      G|      O| 1963.0|     M|     UA|      WB|SAN FRANCISCO, CA|      UNITED KINGDOM|       Air|    ARIZONA| Business|
| 475949.0|2016.0|   4.0| 135.0|    VCV|20547.0|20553.0|  32.0|20160403|      O|      O| 1984.0|  null|     RV|      WB|VANCOUVER, CANADA|      UNITED KINGDOM|       Air|    ARIZONA| Business|
|3339915.0|2016.0|   4.0| 135.0|    VCV|20562.0|20563.0|  53.0|20160418|      O|      O| 1963.0|  null|     AA|      WB|VANCOUVER, CANADA|      UNITED KINGDOM|       Air|    ARIZONA| Business|
|1014318.0|2016.0|   4.0| 135.0|    LVG|20550.0|20551.0|  47.0|20160406|      O|      I| 1969.0|  null|     BA|      WB|    LAS VEGAS, NV|      UNITED KINGDOM|       Air|    ARIZONA| Business|
|1014790.0|2016.0|   4.0| 135.0|    LVG|20550.0|20557.0|  46.0|20160406|      G|      O| 1970.0|     M|     CX|      WB|    LAS VEGAS, NV|      UNITED KINGDOM|       Air|    ARIZONA| Business|
+---------+------+------+------+-------+-------+-------+------+--------+-------+-------+-------+------+-------+--------+-----------------+--------------------+----------+-----------+---------+
only showing top 20 rows

In [18]:
# Clean Invalid Ports 
df_port_clean=df_clean.filter(~col('Port').contains('No PORT Code'))\
    .filter(~col('Port').contains('Collapsed'))\
        .filter(col('Port').isNotNull())

In [19]:
# Invalid Country Codes
df_country_clean=df_port_clean.filter(~col('Country of Origin').contains('INVALID'))\
    .filter(~col('Country of Origin').contains('Collapsed'))\
        .filter(col('Country of Origin').isNotNull())

In [20]:
# Remove Null-Values in Country Codes
df_travelmode_clean=df_country_clean.filter(col('Travelmode').isNotNull())

In [21]:
# Remove Null-Values in Travelmode
df_destination_clean=df_travelmode_clean.filter(col('Destination').isNotNull())

In [22]:
# Nothing to change in Travelmode
df_destination_clean.groupBy('Visa').count().show()

+---------+-------+
|     Visa|  count|
+---------+-------+
| Pleasure|1303035|
|  Student|  25492|
| Business| 293487|
+---------+-------+

In [23]:
# Renaming Colum
df_destination_clean=df_destination_clean.withColumnRenamed('Country of Origin','Origin_Country')

In [24]:
# Get City names 
df_city=df_destination_clean.withColumn("City", initcap(split(col("Port"),',')[0])).drop('Port')

In [25]:
# City as KeyField for Demographics and Weather 
df_city.show()

+---------+------+------+------+-------+-------+-------+------+--------+-------+-------+-------+------+-------+--------+----------------+----------+-----------+---------+--------------+
|    cicid| i94yr|i94mon|i94res|i94port|arrdate|depdate|i94bir|dtadfile|entdepa|entdepd|biryear|gender|airline|visatype|  Origin_Country|Travelmode|Destination|     Visa|          City|
+---------+------+------+------+-------+-------+-------+------+--------+-------+-------+-------+------+-------+--------+----------------+----------+-----------+---------+--------------+
| 881270.0|2016.0|   4.0| 299.0|    SFR|20549.0|20553.0|  34.0|20160405|      G|      O| 1982.0|     M|     KE|      B1|        MONGOLIA|       Air|    ARIZONA| Business| San Francisco|
|1048471.0|2016.0|   4.0| 299.0|    SFR|20550.0|20557.0|  51.0|20160406|      G|      O| 1965.0|     F|     UA|      B1|        MONGOLIA|       Air|    ARIZONA| Business| San Francisco|
|1048473.0|2016.0|   4.0| 299.0|    SFR|20550.0|20557.0|  45.0|20160406|      G|      O| 1971.0|     M|     UA|      B1|        MONGOLIA|       Air|    ARIZONA| Business| San Francisco|
|1048476.0|2016.0|   4.0| 299.0|    SFR|20550.0|20557.0|  28.0|20160406|      G|      O| 1988.0|     F|     UA|      B1|        MONGOLIA|       Air|    ARIZONA| Business| San Francisco|
|1383694.0|2016.0|   4.0| 135.0|    SLC|20552.0|20562.0|  42.0|20160408|      O|      O| 1974.0|  null|     DL|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|Salt Lake City|
| 463118.0|2016.0|   4.0| 135.0|    NYC|20547.0|20551.0|  48.0|20160403|      G|      O| 1968.0|     M|     DL|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|1969028.0|2016.0|   4.0| 692.0|    DAL|20554.0|20562.0|  71.0|20160410|      G|      O| 1945.0|     M|     AA|      B1|         ECUADOR|       Air|    ARIZONA| Business|        Dallas|
|2002218.0|2016.0|   4.0| 135.0|    NYC|20555.0|20558.0|  59.0|20160411|      G|      O| 1957.0|     M|     BA|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|2177134.0|2016.0|   4.0| 135.0|    NYC|20556.0|20566.0|  33.0|20160412|      G|      O| 1983.0|     F|     DL|      E2|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|1014317.0|2016.0|   4.0| 135.0|    NYC|20550.0|20551.0|  48.0|20160406|      O|      I| 1968.0|  null|     BA|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|1188770.0|2016.0|   4.0| 135.0|    NYC|20551.0|20554.0|  52.0|20160407|      G|      O| 1964.0|     M|     BA|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|1190646.0|2016.0|   4.0| 135.0|    NYC|20551.0|20573.0|  61.0|20160407|      G|      O| 1955.0|     F|     AA|      E2|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|1190647.0|2016.0|   4.0| 135.0|    NYC|20551.0|20577.0|  62.0|20160407|      G|      O| 1954.0|     M|     AA|      E2|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|1805984.0|2016.0|   4.0| 135.0|    NYC|20554.0|20558.0|  35.0|20160410|      G|      O| 1981.0|     M|     BA|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|3332264.0|2016.0|   4.0| 135.0|    NYC|20561.0|20572.0|  44.0|20160418|      G|      O| 1972.0|     M|     IB|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|3332886.0|2016.0|   4.0| 135.0|    NYC|20562.0|20571.0|  31.0|20160418|      G|      O| 1985.0|     M|     BA|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
|3335453.0|2016.0|   4.0| 135.0|    NYC|20562.0|20567.0|  52.0|20160418|      G|      O| 1964.0|     F|     UA|      WB|  UNITED KINGDOM|       Air|    ARIZONA| Business|      New York|
| 750913.0|2016.0|   4.0| 576.0|    LOS|20548.0|20553.0|  34.0|20160404|      G|      O| 1982.0|     M|     AV|      B1|     EL SALVADOR|       Air|    ARIZONA| Business|   Los Angeles|
|2810710.0|2016.0|   4.0| 576.0|    LOS|20559.0|20564.0|  51.0|20160415|      G|      O| 1965.0|     F|     DL|      B1|     EL SALVADOR|       Air|    ARIZONA| Business|   Los Angeles|
|3959028.0|2016.0|   4.0| 576.0|    HOU|20565.0|   null|  56.0|20160421|      G|   null| 1960.0|     M|     UA|      I1|     EL SALVADOR|       Air|    ARIZONA| Business|       Houston|
+---------+------+------+------+-------+-------+-------+------+--------+-------+-------+-------+------+-------+--------+----------------+----------+-----------+---------+--------------+
only showing top 20 rows

In [70]:
# Write to csv for local inspection
df_city.repartition(1).write.csv('processed/immigration_clean',mode='append',header=True)